
<ph-topbar style="grid-row: 1; grid-column: 2;">
    <ph-topbar-header [title]="view()" [subtitle]="tab()"></ph-topbar-header>
    @if (this.view() == 'TACOP') {
        <ph-topbar-item [label]="'MAP'" [class.active]="tab() === 'MAP'" (click)="this.navigate('maptool/map')"></ph-topbar-item>
        <ph-topbar-item [label]="'SQUAD'" [class.active]="tab() === 'SQUAD'" (click)="this.navigate('maptool/squad')"></ph-topbar-item>
    }
    @if (this.view() == 'ADMIN') {
        <ph-topbar-item [label]="'USER'" [class.active]="tab() === 'USER'" (click)="this.navigate('admin/user')"></ph-topbar-item>
    }
</ph-topbar>
<ph-sidebar [icon]="'/images/phoenix.svg'" style="grid-row: 1 / 3; grid-column: 1;">
    <ph-sidebar-item [class.active]="view() === 'TACOP'" (click)="this.navigate('maptool/map')"> TACOP </ph-sidebar-item>
    @if (this.authz.hasRole('admin')) { 
        <ph-sidebar-item [class.active]="view() === 'ADMIN'" (click)="this.navigate('admin/user')"> ADMIN </ph-sidebar-item>
    }
    @if (this.authz.hasRole('admin') || this.authz.hasRole('sl')) { 
        <ph-sidebar-item [class.active]="view() === 'SL'" (click)="this.navigate('lsx/general')"> SL </ph-sidebar-item>
    }
</ph-sidebar>

<div class="content">
    <ng-content></ng-content>
</div>
